# Test_extract

In [2]:
from extract import extract

df = extract("../data/raw/candidates.csv")

df.head()

Data types after validation:

First Name                              str
Last Name                               str
Email                                   str
Application Date             datetime64[us]
Country                                 str
YOE                                   int64
Seniority                               str
Technology                              str
Code Challenge Score                float64
Technical Interview Score           float64
dtype: object

,First Name,Last Name,Email,Application Date,Country,YOE,Seniority,Technology,Code Challenge Score,Technical Interview Score
0,Bernadette,Langworth,leonard91@yahoo.com,2021-02-26,Norway,2,Intern,Data Engineer,3.0,3.0
1,Camryn,Reynolds,zelda56@hotmail.com,2021-09-09,Panama,10,Intern,Data Engineer,2.0,10.0
2,Larue,Spinka,okey_schultz41@gmail.com,2020-04-14,Belarus,4,Mid-Level,Client Success,10.0,9.0
3,Arch,Spinka,elvera_kulas@yahoo.com,2020-10-01,Eritrea,25,Trainee,QA Manual,7.0,1.0
4,Larue,Altenwerth,minnie.gislason@gmail.com,2020-05-20,Myanmar,13,Mid-Level,Social Media Community Management,9.0,7.0

# Test transform

In [4]:
import pandas as pd
from extract import extract
from transform import transform

df = extract("../data/raw/candidates.csv")
dim_candidate, dim_date, dim_seniority, dim_technology, fact_applications = transform(df)

Data types after validation:

First Name                              str
Last Name                               str
Email                                   str
Application Date             datetime64[us]
Country                                 str
YOE                                   int64
Seniority                               str
Technology                              str
Code Challenge Score                float64
Technical Interview Score           float64
dtype: object

In [7]:
# --- Hired rule ---
fact_applications["hired_flag"].value_counts()

hired_flag
0    43302
1     6698
Name: count, dtype: int64

In [8]:
fact_applications[["code_challenge_score", "technical_interview_score", "hired_flag"]].head(10)

   code_challenge_score  technical_interview_score  hired_flag
0                   3.0                        3.0           0
1                   2.0                       10.0           0
2                  10.0                        9.0           1
3                   7.0                        1.0           0
4                   9.0                        7.0           1
5                   2.0                        9.0           0
6                   2.0                        9.0           0
7                   2.0                        5.0           0
8                   7.0                       10.0           1
9                   2.0                        0.0           0

In [9]:
# --- Verificar Dimensions ---
len(dim_candidate), len(dim_date), len(dim_seniority), len(dim_technology), len(fact_applications)

(49833, 1646, 7, 24, 50000)

In [10]:
# --- Verificar surrogate keys
dim_candidate["candidate_key"].isna().sum(), dim_date["date_key"].isna().sum(), dim_seniority["seniority_key"].isna().sum(), dim_technology["technology_key"].isna().sum()

(np.int64(0), np.int64(0), np.int64(0), np.int64(0))

In [11]:
# No duplicates
fact_applications.duplicated(subset=["candidate_key", "date_key", "seniority_key", "technology_key"]).sum()

np.int64(0)